<div class="container" style="margin-top:50px;">
    <h1 style="text-align:center">게시판</h1>
    <% @post.each do |p| %>
        <a href="/post/show/<%= p.id %>">
            <div>   
                제목 : <%= p.title %><br>
                내용 : <%= p.content %>
                <hr>
            </div>
        </a>
    <% end %>
    <div style="text-align:right; margin-top:50px;">
        <a class="btn btn-primary" href="new">글쓰기</a>
    </div>
</div>